body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 60px;
	padding-bottom: 0px;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

#crystal {
	width: 220px;
	height: 150px;
	background-color: #000000;
}

.numbers {
	font-size: 30px;
	font-style: bold;
	font-family: chicago;
	text-align: center;
}

#scoresW {
	font-size: 30px;
	font-style: bold;
	font-family: chicago;
	text-align: center;
	color: blue;
}

#scoresL {
	font-size: 30px;
	font-style: bold;
	font-family: chicago;
	text-align: center;
	color: red;
}

